{% extends "base_template.html" %}
{% load i18n  pagination_tags %}
{% block nav_dashboard %}<li><a href="/" class="active">{% trans 'Dashboard'%}</a></li>{% endblock%}
{%  block  subnav %}{% endblock%}
{%  block  maincontent %}

<h1>{% trans 'Account Settings' %}</h1>
  <div class="container_12">
	<div class="block margin-bottom">
	<h3 class="block-title green-gradient glossy">{% trans 'Profile'%}</h3>
	  <div class="with-padding">
		<ul>
		  <li>Edit Profile</li>
		  <li>Change Password</li>
		</ul>

	  </div>
	</div>

	<div class="block margin-bottom">
	<h3 class="block-title green-gradient glossy">{% trans 'Access log'%}</h3>
	  <div class="with-padding">
	  </div>
	</div>
  </div>


{% endblock%}
