{% extends "base_academic_template.html" %}
{% load i18n webdesign%}

{%  block  maincontent %}
<h1>{% trans 'Section'%}
<a href ="{% url academic_add_model 'section' %}"> + </a>
</h1>
  <div class="container_12 box-warp">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <th scope="col">{% trans 'Title' %}</th>
            <th scope="col">{% trans 'Description' %}</th>
            <th scope="col">{% trans 'Create date' %}</th>

        </tr>

        {% for  section in section_list %}
        <tr>
            <td scope="col"><a href ="{% url academic_modify_model 'section' section.id %}">{{section.title}}</a></td>
            <td scope="col">{{section.description}}</td>
            <td scope="col">{{section.add_date}}</td>
        </tr>
        {% endfor%}

    </table>
  </div>
{% endblock%}
