#room_selection,#room_info{
	background: #fafafa;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	-moz-box-shadow: 0px 3px 3px #f2f2f2;-webkit-box-shadow: 0px 3px 3px #f2f2f2;
	border:1px solid #aaa;
}
#room_selection h2,#room_info h2{
	margin-left:20px;
}

#room_selection label,#room_info label{
	width:100px;
}

.device_checkbox{
    background: url("../images/icon/128/key.png") no-repeat scroll 20px 0 #eee;
    border-radius: 15px 15px 15px 15px;
    display: block;
    height: 128px;
    margin: 20px;
    padding: 0 20px;
    text-transform: uppercase;
    width: 128px !important;
	box-shadow:0 5px 5px #aaa;
}

.device_checkbox:hover{
	box-shadow:0 3px 3px #666;
}

div.popup div.content h2{
    margin: 0;
    padding: 0;
}
