

{% extends 'holiday/holiday/base.html' %}

{% load i18n %}

{% block filename %}
  /home/kowito/Project/crb/holiday/templates/holiday/holiday/holiday_form.html
{% endblock %}

{% block title %}
  {% if object %}
    {% trans "Update Holiday" %}
  {% else %}
    {% trans "Create a New Holiday" %}
  {% endif %}
{% endblock %}

{% block header-link %}
  {% if object %}
    <a href='{% url holiday_holiday_update pk=object.pk %}'>
      {% trans "Holiday Update" %}
    </a>
  {% else %}
    <a href='{% url holiday_holiday_create %}'>
      {% trans "Holiday Create" %}
    </a>
  {% endif %}
{% endblock %}

{% block header-description %}
  {% if object %}
    {% trans "A view that displays a form for editing an existing object." %}
  {% else %}
    {% trans "A view that displays a form for creating an object." %}
  {% endif %}
{% endblock %}

{% block content %}
  <form action='{% if object %}{% url holiday_holiday_update pk=object.pk %}{% else %}{% url holiday_holiday_create %}{% endif %}' method='post' encoding='utf-8'>
    <fieldset>
      {% csrf_token %}
      {{ form }}
      <div class='form-actions'>
        <button class='btn btn-large btn-success' type='submit'>
          {% if object %}
            {% trans "Update" %}
          {% else %}
            {% trans "Create" %}
          {% endif %}
        </button>
      </div>
    </fieldset>
  </form>
{% endblock %}
